@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Jura", sans-serif;
    background-color: lightgray;
}

body {
    display: flex;           /* Use flexbox to center vertically */
    flex-direction: column;  /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center;     /* Center children horizontally */
}

.title {
    margin-top: 100px;
    text-align: center;
    color: rgba(226, 13, 13, 0.76);
    font-size: 40px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.description {
    padding-top: 1rem;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}

.login-container {
    width: 300px;
    margin: 50px 50px 20px 50px;
    /* border: 10px solid black; */
}

.loginField {
    width: 90%;
    padding: .5rem;
    margin: 10px 0 0 4px;
    border-radius: 12px;
    background-color: white;
}

.showPasswordText, .register p {
    margin-left: 8px;
}

.register p {
    margin-left: 5px;
}

#showPassword {
    margin: 5px 5px 0px 3.5px;
    cursor: pointer;
    transition: 0.2s;
}

.info {
    position: absolute;
    top: 25px;
    left: 75px;
    display: flex;
    gap: 1rem; /* Adjusts the space between the links */
    padding: 1rem; /* Gives space from the edge of the page */
    font-size: 20px;
}

.login, .register {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    padding-left: 4px;
    gap: 10px;
}

#login-button {
    padding: 7px 17px; /* Provides padding inside the button */
    margin: 15px 0 0 4px;
    border-radius: 12px;
    background-color: rgba(12, 232, 41, 0.76);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}