@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  background-color: #e2e3e3;
  min-height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: blue;
  cursor: pointer;
  transition: border-color 0.25s;
  

}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500; 
}

@keyframes rainbow {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.amazondle {
  font-family: 'Exo 2', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: transparent;
  background: linear-gradient(to right, 
     rgb(235, 223, 3), rgb(0, 0, 0)); /* Wrap back to violet */
  background-size: 400% 800%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: rainbow 7s linear infinite; /* Slowed down for smoothness */
  display: block;
  margin: 0 auto;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #fff; /* Adjust your header background as needed */
  /* Other styles */
}
.auth-buttons {
  display: flex;
  gap: 1rem; /* Space between sign-up and sign-in buttons */
}

.header-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  width: 90%; /* Ensure the header content spans the full width */
}

/* Amazondle black and orange logo*/
.logo {
  height: 50px;
  width: auto;
  align-items: center;
}

button {
  padding: 10px 25px;
  margin-right: 10px;
  background-color: #eb8c07;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.left-content, .auth-buttons {
  flex: 1; /*spacing*/
}

.logo {
  flex: 0 0 auto; /* Ensures the logo does not grow or shrink */
  margin: 0 140px; /* Adds margin to separate it from other elements */
}
